body {
    height: 100%;
    margin: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid #00275a;
    background-color: #c3cfd9;
}

.title-container {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #293845;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container .icon {
    margin-right: 10px;
    color: gray;
}

.input-container input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.input-container input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.label-container {
    color: darkcyan;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #cf9fff;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover {
    background-color: #c3cfd9;
    transform: scale(1.1);
}

.login-button:focus {
    outline: none;
}

.login-button:active {
    background-color: #001b3b;
    transform: scale(0.9);
}

.down-linea {
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #00275a;
    width: 18%;
}