.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #c3cfd9;
  padding: 20px;
}

.register-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.public-info-container,
.private-info-container {
  flex-grow: 1;
  max-width: 400px;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  background-color: #b9c4ce;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .register-container form {
    justify-content: flex-start;
  }

  .public-info-container,
  .private-info-container {
    width: calc(50% - 10px);
  }

  .public-info-container {
    margin-right: 5px;
  }
}

#first-title,
#second-title {
  width: 100%;
}

#submit-button {
  
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #5e809c;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 8%;

}

#submit-button:hover {
  background-color: #1e517b;
  
}

label{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}