.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cita {
  background-color: #374b59;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.cita p {
  margin: 0;
}

.no-citas {
  color: #fff;
  margin: 20px 0;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  margin-right: 10px;
}

.toggle-button {
  background-color: #283641;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.programar-button {
  background-color: #283641;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cancel-button {
  background-color: #0e0d13;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.calificar-button {
  background-color: #0e0d13;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.title {
  text-align: left;
}
.subtitle {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #283641;
}