.form-group {
    position: relative;
}

.form-group.has-search {
    display: flex;
    align-items: center;
}

.form-control-feedback {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 25px;
    margin-right: 40px;
}

.form-control {
    padding-left: 60px;
    margin-left: 50px; /* Ajusta este valor según sea necesario */
    height: 40px;
    border: none;
    outline: none;
    font-size: 25px;
}