body {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
}

.title-container{
    color : #00275a;
    font-size: 30px;
    text-align: start;
    font-weight: bold;
    margin: 10px;
}


.switch {
    width: 20%;
}

.search-container{
    display: flex;
}

.docentes-container {
    display: inline-block;
    flex-wrap: wrap;
}