/*BOTON "GUARDAR"*/
.botonGuardar{
  position: absolute;
  top: 65px;
  right: 30px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  background-color: purple;
  color:white;
  font-weight: bold;
}

.botonMostrarOcultar {
  position: fixed;
  top: 8px;
  left: 10px;
  background-color: gray;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;
}


.linea{
  border: 1px solid rgb(163, 161, 161);
}
.lineaBoton{
  border: 1px solid white;
  
}
/*Estilo de grupo*/
table.grupo {
  width: 100%;
}

table.grupo td {
  padding: 20px;
  
}

.grupo input[type="text"], .grupo input[type="password"] , .grupo input[type="number"] {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid gray;
}

.grupo p{
  margin-bottom: 5px; /*Espacio entre etiqueta y el cuadro de texto*/
}

.contenedor-imagen{
  padding: 30px;
  height: 150px;
  border: 2px solid gray;
  text-align: center;
}
.contenedor-imagen img {
  max-width: 200px;
  max-height: 150px;
  vertical-align: middle;
}

/*TABLA OPCIONES "DATOS USUARIO", "UNIVERSIDAD" y "PRESENTACIÓN"*/
table.opciones th{
  height: 30px;
  width: 200px;
}

#presentacionID {
  line-height: 30px;
}

/*Estilo de grupo2 */
.grupo2{
  display: none;
}
#uni, #carrera{
  width: 450px;
}

/*CUADRO DE TEXTO DE "AGREGAR CURSO"*/
#cursoEspecialidad input[type="text"]{
  width: 550px;
  
}
#cursoEspecialidad td {
  vertical-align: top;
}
#cursoEspecialidad p {
  margin-top: 0;
}

/*Estilo de grupoo2 - PRESENTACION*/
.grupo2 p{
  margin-bottom: 5px; /*Espacio entre texto y el cuadro de texto*/
}
.grupo2 textarea {
  width: 100%;
  height: 60px;
  resize: none;
  font-size: 18px;
  font-family: Arial;
  border-radius: 10px;
  border: 2px solid gray;
}

/*ESTILO BARRA SUPERIOR*/
.barraSuperior{
  background-color: lightgray;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  z-index: 2;

}

.barraSuperior h1 {
  margin: 0;
  
}


/*ESTILO BARRA LATERAL*/
.barraIzquierda {
  width: 150px;
  height: 100%;
  background-color: rgb(134, 130, 130);
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.3s ease;
  
}
.barraIzquierda.oculta {
  transform: translateX(-100%);
}
.barraIzquierda p {
  font-size: 20px;
  text-align: center;
}

.barraIzquierda ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.barraIzquierda li {
  margin-bottom: 50px;
  color: white;
}
.contenedorPrincipal {
  font-family: Arial; 
  display: flex;
  flex-direction: column;
}
.contenidoPagina {
  margin-left: 180px;
}

