/* App.css */
.App {
    position: relative;
    overflow-x: hidden;
  }
  
  .sidebar-open .sidebar {
    transform: translateX(0);
  }
  
  
  .content {
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
  }
  